@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
nav {
    width: 100%;
    position: fixed;
    top: 50px;
    text-align: center;
}

nav a {
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #16151b;
    margin: 0 15px;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
}

* {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

body {
    background: rgb(17, 20, 20, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;
}

p {
    color: #fff;
    font-size: 12px;
}

p a {
    background: rgba(255, 255, 255, 0);
    border-bottom: 1px solid;
    color: #fff;
    line-height: 1.4;
    padding: 0.25em;
    text-decoration: none;
}

p a:hover {
    background: rgba(30, 36, 37, 0)e;
    color: rgba(30, 36, 37, 0);
}

.btn {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    margin: 15px;
}

.btn:hover {
    text-decoration: none;
}

.btn-1 {
    background: #3a3737;
    font-weight: 100;
}

.btn-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-1 rect {
    fill: none;
    stroke: #3a3737;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}

.btn-1:hover {
    background: rgba(30, 36, 37, 0);
    font-weight: 900;
    letter-spacing: 1px;
}

.btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

body,
html {
    height: 100%;
}

.parallax {
    height: 100%;
    background-image: url('bilder/thonon-diaet-bild.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    height: 850px;
    background-color: #3a3737;
    font-size: 36px"

}