@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap%27');
body {
    text-align: left;
    font-family: Poppins;
    background-image: url("../images/markt.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    margin-left: 350px;
    margin-right: 350px;
}

.navbar {
    background-color: black;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.navbar li {
    float: left;
}

.navbar a {
    font-size: 30px;
    display: block;
    text-decoration: none;
    padding: 12px 18px;
    margin-left: 0;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: 2s;
}

.navbar a:hover {
    background-color: blueviolet;
    color: chartreuse;
    transition: 0s;
}

.home {
    position: absolute;
    top: 0;
    left: 0;
}

.button a:hover {
    background-color: blueviolet;
    color: chartreuse;
}

.container h1 {
    font-size: 90px;
    font-weight: bolder;
}

.container h2 {
    font-size: 50px;
    font-weight: bold;
}

.container h3 {
    font-size: 30px;
    font-weight: bold;
}

.container a {
    text-decoration: none;
}

.container ul {
    text-align: justify;
    font-size: 20px;
}

.container ol {
    text-align: justify;
    font-size: 20px;
}

.container p {
    text-align: justify;
    font-size: 20px;
}

.container img {
    max-width: 100%;
}
.int {
    background-color: lightgrey;
    font-size: 24px;
    max-width: 50px;
    border:2px solid black;
}

ul.s {
    list-style-type:square;
}
