@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
body {
    background-color: darkslategray;
    text-align: center;
}

.navbar ul {
    margin: 1ex;
    padding: 1ex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    margin-bottom: 20px;
}

.navbar li {
    float: left;
    font-family: Bebas Neue;
    font-size: 35px;
}

.navbar li a {
    display: block;
    color: rgb(114, 150, 149);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 1s;
}

.navbar li a:hover {
    background-color: #111;
    color: rgb(51, 199, 174);
    transition: 1s;
}

.navbar {
    align-content: center;
}

.content-container {
    width: 95%;
    margin: 1ex;
    padding: 1ex;
    padding-left: 2ex;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    background-color: lightgray;
    transition: 1s;
    overflow: hidden;
    margin-bottom: 25px;
    padding: 25px;
}

.content-container:hover {
    box-shadow: 10px 5px 5px rgba(0, 255, 213, 0);
}

.content-text h1 {
    color: rgb(56, 63, 63);
    font-family: Bebas Neue;
    font-size: 50px;
}

.content-text {
    padding-top: 100px;
    color: rgb(96, 158, 156);
    font-family: Bebas Neue;
    font-size: 25px;
    padding: 10px;
    width: 45%;
}

.align-left {
    float: left;
    clear: left;
}

.align-right {
    float: right;
    clear: right;
}

.content-right img {
    width: 50%;
    float: right;
    clear: right;
    border-radius: 10px;
    border: 5px solid rgba(114, 150, 149);
}

.content-left img {
    width: 50%;
    float: left;
    clear: left;
    border-radius: 10px;
    border: 5px solid rgba(114, 150, 149);
}

.content-text a {
    font-size: 35px;
    font-style: normal;
    color: rgb(56, 63, 63);
    background-color: rgb(51, 199, 174);
    border: 5px solid rgba(114, 150, 149);
    padding: 15px;
    border-radius: 5px;
}

.footer ul {
    font-family: Bebas Neue;
    font-size: 20px;
}

.footer {
    background-color: #333;
    text-align: left;
    margin: 0px;
    font-size: 20px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
}

.footer-content-container {
    width: 30%;
    flex-direction: row;
    text-align: center;
}

.footer a {
    color: rgba(114, 150, 149);
    font-family: Bebas Neue;
    font-size: 20px;
}

.footer h1 {
    font-family: Bebas Neue;
    font-size: 35px;
    color: rgb(51, 199, 174);
}