
.container {
    background-color: rgb(255, 255, 255);
    padding: 3000px 30%;
    display: inline-block;
    font-size: 45px;
    margin-left: 20%;
    margin-right: 20%;
    position: absolute;
    top: 20px;
}
.container p {
    font-size: 69px;
    font-weight: bold;
    position:absolute;
    left:0%;
    top:0%;
}
.navbar {
    align-content: center;
    position:fixed;
    top:0%;
    width: 100%;
    z-index: 1;
}
.navbar ul {
    margin: 1ex;
    padding: 1ex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
.navbar li {
    float:left;
    font-size: 35px;
}
.navbar li a {
    display: block;
    padding: 12px 20px;
    transition: 5s;
    margin-left: 0px;
    color:white;
    text-align: center;
}
.navbar li a:hover {
    background-color: blueviolet;
    color:chartreuse;
    transition: 0s;
}
.button {
    display: inline-block;
    padding: 32px 40px;
    background-color: crimson;
    color: black;
    text-decoration: none;
    font-size: 34px;
    font-weight: bold;
    position:fixed;
    top: 10%;
    box-shadow: 20px 20px 16px rgb(146, 146, 146);
}
.button:hover {
    background-color: rgb(0, 158, 71);
    color: white;
    box-shadow: 20px 20px 16px violet;
}
.trans {
    opacity: 0.3;
}
.lel {
    position: absolute;
    left: 0%;
    top: 200px;
}
