@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar {
    background-color: black;
    justify-content: center;
    display: flex;
    width: 100%;
}

.navbar li {
    display: inline;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

.navbar a {
    text-decoration: none;
    padding: 21px 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: 1s;
    margin: 0;
}

.navbar a:hover {
    background-color: rgb(33, 34, 34);
    color: rgb(255, 255, 255);
    transition: 0s;
}

.bildcollage {}

.thesen-container {
    width: 70%;
    padding: 15px;
    margin: 15px;
    outline: 3px solid #ccc;
    text-align: justify;
}

.thesen {}

.infos-container {
    width: 70%;
    padding: 15px;
    margin: 15px;
    outline: 3px solid #ccc;
    text-align: justify;
}

.zusammenfassung-container {}

.piechart-container {
    width: 70%;
    padding: 15px;
    margin: 15px;
    outline: 3px solid #ccc;
}

.pie-chart {
    background: radial-gradient( circle closest-side, transparent 75%, white 0), conic-gradient( #71baf9 0, #71baf9 75.8%, #ffb56b 0, #ffb56b 96%, #ff8082 0, #ff8082 97%, #76b7b2 0, #76b7b2 100%);
    position: relative;
    width: 50%;
    min-height: 500px;
    margin: 0;
    text-align: justify;
}

.pie-chart h2 {
    position: absolute;
    margin: 1rem;
}

.pie-chart cite {
    position: absolute;
    bottom: 0;
    font-size: 80%;
    padding: 1rem;
    color: gray;
}

.pie-chart figcaption {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: smaller;
    text-align: right;
}

.pie-chart span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
}

.align-left {
    float: left;
    clear: left;
}

.align-right {
    float: right;
    clear: right;
}