@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body {
    font-family: Fjalla One;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

img {
    z-index: 1;
}

.bg {
    margin-right: 100px;
    margin-left: 100px;
    background-color: rgb(49, 49, 49);
    padding-top: 10px;
}

.navbar {
    background-color: black;
    justify-content: center;
    display: flex;
    width: 100%;
}

.navbar li {
    display: inline;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

.navbar a {
    text-decoration: none;
    padding: 21px 25px;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    transition: 1s;
    margin: 0;
}

.navbar a:hover {
    background-color: rgb(75, 100, 100);
    transition: 0s;
}

.bildcollage {
    overflow: hidden;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.bildcollage-imgcontainer {
    display: flex;
    height: auto;
}

.bildcollage img {
    max-width: 24.25%
}

.spacer {
    width: 1%;
    z-index: 2;
    background-color: rgb(108, 144, 144);
    flex: none;
}

.thesen-container {
    margin: auto;
    width: 85%;
    padding: 15px;
    margin-bottom: 15px;
    outline: 3px solid rgb(108, 144, 144);
    text-align: justify;
    background-color: rgb(66, 66, 66);
}

.these::first-letter {
    font-size: 35px;
}

.these::first-letter {
    font-size: 35px;
}

.these {
    font-size: 25px;
}

.infos-container {
    width: 85%;
    padding: 15px;
    margin: auto;
    margin-bottom: 15px;
    outline: 3px solid rgb(108, 144, 144);
    text-align: justify;
    background-color: rgb(66, 66, 66);
}

.zusammenfassung-container {
    margin: auto;
}

.piechart-container {
    margin: auto;
    width: 85%;
    padding: 15px;
    margin-bottom: 15px;
    outline: 3px solid rgb(108, 144, 144);
    background-color: rgb(66, 66, 66);
}

.pie-chart {
    background: radial-gradient( circle closest-side, transparent 75%, rgb(100, 100, 100) 0), conic-gradient( #71baf9 0, #71baf9 75.8%, #ffb56b 0, #ffb56b 96%, #ff8082 0, #ff8082 97%, #76b7b2 0, #76b7b2 100%);
    position: relative;
    width: 50%;
    min-height: 500px;
    margin: 0;
    text-align: justify;
    outline: 3px solid rgb(108, 144, 144);
    color: white;
}

.pie-chart h2 {
    position: absolute;
    margin: 1rem;
}

.pie-chart cite {
    position: absolute;
    bottom: 0;
    font-size: 80%;
    padding: 1rem;
    color: gray;
}

.pie-chart figcaption {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: smaller;
    text-align: right;
    color: white;
}

.pie-chart span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
}

.align-left {
    float: left;
    clear: left;
}

.align-right {
    float: right;
    clear: right;
}