@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: Roboto;
}

.gradient {
    background-image: linear-gradient(180deg, pink, grey);
}

.navigation ul {
    top: 100px;
}

.navigation li {
    margin: 15px;
}

a {
    color: black;
    text-decoration: none;
    background-color: rgba(151, 151, 151, 0.5);
    padding: 5px;
    border-radius: 5px;
    transition: 1s;
}

a:hover {
    background-color: violet;
    transition: 1s;
}

.startseite {
    text-align: center;
    list-style: none;
}

.recipe {
    font-family: Roboto;
}

.zutaten caption {
    text-align: left;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.zutaten tr:nth-child(even) {
    background-color: rgba(131, 110, 131, 0.5);
    text-align: left;
    width: 150px;
}

.zutaten tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.);
    text-align: left;
    width: 150px;
}

.zutaten table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}